In [77]:
import pandas as pd

# Lectura de datos

In [78]:
cpi = pd.read_csv('../../data/preparation/cpi.csv')
gdp = pd.read_csv('../../data/preparation/gdp.csv')
nasdaq = pd.read_csv('../../data/preparation/nasdaq.csv')
sp500 = pd.read_csv('../../data/preparation/sp500.csv')
unrate = pd.read_csv('../../data/preparation/unrate.csv')
usdeur = pd.read_csv('../../data/preparation/usdeur.csv')
usdgbp = pd.read_csv('../../data/preparation/usdgbp.csv')

In [79]:
nasdaq = nasdaq[['date', 'close']]
sp500 = sp500[['date', 'close']]
usdeur = usdeur[['date', 'close']]
usdgbp = usdgbp[['date', 'close']]

In [80]:
usdeur.drop(0)

                           date    close
1     2014-02-18 00:00:00+00:00  0.72969
2     2014-02-19 00:00:00+00:00  0.72664
3     2014-02-20 00:00:00+00:00  0.72831
4     2014-02-21 00:00:00+00:00  0.72880
5     2014-02-24 00:00:00+00:00  0.72791
...                         ...      ...
2601  2024-02-09 00:00:00+00:00  0.92788
2602  2024-02-12 00:00:00+00:00  0.92608
2603  2024-02-13 00:00:00+00:00  0.92831
2604  2024-02-14 00:00:00+00:00  0.93380
2605  2024-02-15 00:00:00+00:00  0.92860

[2605 rows x 2 columns]

In [81]:
usdeur

                           date    close
0     2014-02-17 00:00:00+00:00  0.72993
1     2014-02-18 00:00:00+00:00  0.72969
2     2014-02-19 00:00:00+00:00  0.72664
3     2014-02-20 00:00:00+00:00  0.72831
4     2014-02-21 00:00:00+00:00  0.72880
...                         ...      ...
2601  2024-02-09 00:00:00+00:00  0.92788
2602  2024-02-12 00:00:00+00:00  0.92608
2603  2024-02-13 00:00:00+00:00  0.92831
2604  2024-02-14 00:00:00+00:00  0.93380
2605  2024-02-15 00:00:00+00:00  0.92860

[2606 rows x 2 columns]

In [82]:
cpi = cpi.rename(columns={'0':'cpi'})
gdp = gdp.rename(columns={'0':'gdp'})
cpi = cpi.rename(columns={'0':'cpi'})
nasdaq = nasdaq.rename(columns={'close':'nasdaq'})
sp500 = sp500.rename(columns={'close':'sp500'})
unrate = unrate.rename(columns={'0':'unrate'})
usdeur = usdeur.rename(columns={'close':'usdeur'}).drop(0).reset_index(drop=True)
usdgbp = usdgbp.rename(columns={'close':'usdgbp'}).drop(0).reset_index(drop=True)

In [83]:
variables = [sp500, cpi,gdp, nasdaq, unrate, usdeur, usdgbp]

# Convierto todas columnas 'date' a formato datetime64 y mergeo

In [84]:
df = None
for datasets in variables:
    # Asegúrate de que la columna 'date' esté en formato de fecha
    datasets['date'] = pd.to_datetime(datasets['date'], utc=True)
    
    # Realiza un merge
    if df is None:
        df = datasets
    else:
        df = pd.merge(df, datasets, on='date', how='left')

In [85]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [86]:
df['usdeur'] = usdeur['usdeur']
df['usdgbp'] = usdgbp['usdgbp']

In [87]:
# Filtrar las observaciones posteriores a 2023-12-29
df_no24 = df[df['date'] <= '2023-12-29']

In [90]:
df_no24.fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)

C:\Users\usuario\AppData\Local\Temp\ipykernel_20036\4186121726.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_no24.fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)
C:\Users\usuario\AppData\Local\Temp\ipykernel_20036\4186121726.py:1: FutureWarning: The 'downcast' keyword in fillna is deprecated and will be removed in a future version. Use res.infer_objects(copy=False) to infer non-object dtype, or pd.to_numeric with the 'downcast' keyword to downcast numeric results.
  df_no24.fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)
C:\Users\usuario\AppData\Local\Temp\ipykernel_20036\4186121726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no24.fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)

In [95]:
df_no24.to_csv('../../data/preparation/df_no24.csv')