In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

# Lectura de datos

In [2]:
cpi = pd.read_csv('cpi.csv')
gdp = pd.read_csv('gdp.csv')
nasdaq = pd.read_csv('nasdaq.csv')
sp500 = pd.read_csv('sp500.csv')
unrate = pd.read_csv('unrate.csv')
usdeur = pd.read_csv('usdeur.csv')
usdgbp = pd.read_csv('usdgbp.csv')

In [3]:
nasdaq = nasdaq[['date', 'close']]
sp500 = sp500[['date', 'close']]
usdeur = usdeur[['date', 'close']]
usdgbp = usdgbp[['date', 'close']]

In [4]:
cpi = cpi.rename(columns={'0':'cpi'})
gdp = gdp.rename(columns={'0':'gdp'})
cpi = cpi.rename(columns={'0':'cpi'})
nasdaq = nasdaq.rename(columns={'close':'nasdaq'})
sp500 = sp500.rename(columns={'close':'sp500'})
unrate = unrate.rename(columns={'0':'unrate'})
usdeur = usdeur.rename(columns={'close':'usdeur'})
usdgbp = usdgbp.rename(columns={'close':'usdgbp'})

In [39]:
variables = [sp500, cpi, nasdaq, unrate, usdeur, usdgbp] #lista excepto gdp para hacer merge y posterioremente hacer merge con

In [7]:
for i in variables:
    print(i.tail())

            date      cpi
3600  2023-12-28  308.742
3601  2023-12-29  308.742
3602  2023-12-30  308.742
3603  2023-12-31  308.742
3604  2024-01-01  309.685
            date        gdp
3508  2023-09-27  27610.128
3509  2023-09-28  27610.128
3510  2023-09-29  27610.128
3511  2023-09-30  27610.128
3512  2023-10-01  27938.831
            date    nasdaq
2512  2024-02-09  18039.25
2513  2024-02-12  17965.00
2514  2024-02-13  17676.75
2515  2024-02-14  17881.00
2516  2024-02-15  17898.00
            date        sp500
2512  2024-02-09  5026.609863
2513  2024-02-12  5021.839844
2514  2024-02-13  4953.169922
2515  2024-02-14  5000.620117
2516  2024-02-15  5008.899902
            date  unrate
3600  2023-12-28     3.7
3601  2023-12-29     3.7
3602  2023-12-30     3.7
3603  2023-12-31     3.7
3604  2024-01-01     3.7
                           date   usdeur
2601  2024-02-09 00:00:00+00:00  0.92788
2602  2024-02-12 00:00:00+00:00  0.92608
2603  2024-02-13 00:00:00+00:00  0.92831
2604  2024-02-14 00:00:00+00:00  0.93380
2605  2024-02-15 00:00:00+00:00  0.92860
                           date   usdgbp
2601  2024-02-09 00:00:00+00:00  0.79236
2602  2024-02-12 00:00:00+00:00  0.79131
2603  2024-02-13 00:00:00+00:00  0.79192
2604  2024-02-14 00:00:00+00:00  0.79424
2605  2024-02-15 00:00:00+00:00  0.79469

# Convierto todas columnas 'date' a formato datetime64 y mergeo

In [42]:
variables.pop(3)

                          date        gdp
0    2014-02-18 00:00:00+00:00  17197.738
1    2014-02-19 00:00:00+00:00  17197.738
2    2014-02-20 00:00:00+00:00  17197.738
3    2014-02-21 00:00:00+00:00  17197.738
4    2014-02-22 00:00:00+00:00  17197.738
...                        ...        ...
3508 2023-09-27 00:00:00+00:00  27610.128
3509 2023-09-28 00:00:00+00:00  27610.128
3510 2023-09-29 00:00:00+00:00  27610.128
3511 2023-09-30 00:00:00+00:00  27610.128
3512 2023-10-01 00:00:00+00:00  27938.831

[3513 rows x 2 columns]

In [ ]:
df = None
variables1 = variables.remove(gdp)
for datasets in variables1:
    # Asegúrate de que la columna 'date' esté en formato de fecha
    datasets['date'] = pd.to_datetime(datasets['date'])
    
    # Realiza un merge
    if df is None:
        df = datasets
    else:
        df = pd.merge(df, datasets, on='date', how='left')

In [34]:
df

,date,sp500,cpi,nasdaq,unrate,usdeur,usdgbp,gdp
0,2014-02-18 00:00:00+00:00,1840.760010,235.547,3675.00,6.7,0.72969,0.59809,17197.738
1,2014-02-19 00:00:00+00:00,1828.750000,235.547,3654.50,6.7,0.72664,0.59930,17197.738
2,2014-02-20 00:00:00+00:00,1839.780029,235.547,3671.50,6.7,0.72831,0.59967,17197.738
3,2014-02-21 00:00:00+00:00,1836.250000,235.547,3664.50,6.7,0.72880,0.60018,17197.738
4,2014-02-24 00:00:00+00:00,1847.609985,235.547,3688.00,6.7,0.72791,0.60120,17197.738
...,...,...,...,...,...,...,...,...
2512,2024-02-09 00:00:00+00:00,5026.609863,NaN,18039.25,NaN,0.92788,0.79236,NaN
2513,2024-02-12 00:00:00+00:00,5021.839844,NaN,17965.00,NaN,0.92608,0.79131,NaN
2514,2024-02-13 00:00:00+00:00,4953.169922,NaN,17676.75,NaN,0.92831,0.79192,NaN
2515,2024-02-14 00:00:00+00:00,5000.620117,NaN,17881.00,NaN,0.93380,0.79424,NaN
2516,2024-02-15 00:00:00+00:00,5008.899902,NaN,17898.00,NaN,0.92860,0.79469,NaN