In [1]:
import pandas as pd
import yfinance as yf

In [2]:
# Obtener los datos de cotización para los símbolos especificados
eurusd = yf.download('EURUSD=X', start="2000-01-01", end="2024-01-01", period="1d")
jpyusd = yf.download('JPYUSD=X', start="2000-01-01", end="2024-01-01", period="1d")
gbpusd = yf.download('GBPUSD=X', start="2000-01-01", end="2024-01-01", period="1d")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
currencies = [eurusd, jpyusd, gbpusd]

In [4]:
# Drop columns except 'Close' and rename 'Close' column
eurusd = eurusd[['Close']].rename(columns={'Close': 'eurusd'})
jpyusd = jpyusd[['Close']].rename(columns={'Close': 'jpyusd'})
gbpusd = gbpusd[['Close']].rename(columns={'Close': 'gbpusd'})

In [5]:
df = pd.concat([eurusd, jpyusd, gbpusd], axis=1)
# Keep only the observations after 2004
df = df[df.index >= '2004-01-01']

In [6]:
df

              eurusd    jpyusd    gbpusd
Date
2004-01-01  1.258194  0.009320  1.785204
2004-01-02  1.258194  0.009354  1.793690
2004-01-05  1.268698  0.009413  1.807207
2004-01-06  1.272103  0.009414  1.821295
2004-01-07  1.264095  0.009418  1.817785
...              ...       ...       ...
2023-12-25  1.102657  0.007025  1.267700
2023-12-26  1.102026  0.007031  1.270487
2023-12-27  1.104301  0.007019  1.272718
2023-12-28  1.110864  0.007072  1.280082
2023-12-29  1.106819  0.007071  1.273399

[5205 rows x 3 columns]

In [9]:
#df.to_csv('../../data/preparation/currencies.csv')