In [40]:
import pandas as pd
import yfinance as yf

# Currencies

In [41]:
# Obtener los datos de cotización para los símbolos especificados
eurusd = yf.download('EURUSD=X', start="2004-01-01", end="2024-01-01", period="1d")
jpyusd = yf.download('JPYUSD=X', start="2004-01-01", end="2024-01-01", period="1d")
gbpusd = yf.download('GBPUSD=X', start="2004-01-01", end="2024-01-01", period="1d")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [42]:
# Drop columns except 'Close' and rename 'Close' column
eurusd = eurusd[['Close']].rename(columns={'Close': 'eurusd'})
jpyusd = jpyusd[['Close']].rename(columns={'Close': 'jpyusd'})
gbpusd = gbpusd[['Close']].rename(columns={'Close': 'gbpusd'})

In [43]:
currencies = [eurusd, jpyusd, gbpusd]

## Concat

# Indexes

In [44]:
nq = yf.download('NQ=F', start="2004-01-01", end="2024-01-01", period="1d")
sp500 = yf.download('^GSPC', start="2004-01-01", end="2024-01-01", period="1d")
nikkei = yf.download('^N225', start="2004-01-01", end="2024-01-01", period="1d")
ftse = yf.download('^FTSE', start="2004-01-01", end="2024-01-01", period="1d")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [45]:
nq = nq[['Close']].rename(columns={'Close': 'nq'})
sp500 = sp500[['Close']].rename(columns={'Close': 'sp500'})
nikkei = nikkei[['Close']].rename(columns={'Close': 'nikkei'})
ftse = ftse[['Close']].rename(columns={'Close': 'ftse'})

In [46]:
indexes = [nq, sp500, nikkei, ftse]

In [47]:
df_indexes = pd.concat([nq, sp500, nikkei, ftse], axis=1)

In [48]:
df_indexes

                  nq        sp500        nikkei         ftse
Date
2004-01-02   1466.50  1108.479980           NaN  4510.200195
2004-01-05   1495.50  1122.219971  10825.169922  4513.299805
2004-01-06   1504.50  1123.670044  10813.990234  4505.200195
2004-01-07   1517.00  1126.329956  10757.820312  4473.000000
2004-01-08   1531.00  1131.920044  10837.650391  4494.200195
...              ...          ...           ...          ...
2023-12-25       NaN          NaN  33254.031250          NaN
2023-12-26  17083.50  4774.750000  33305.851562          NaN
2023-12-27  17113.25  4781.580078  33681.238281  7725.000000
2023-12-28  17090.50  4783.350098  33539.621094  7722.700195
2023-12-29  17023.50  4769.830078  33464.171875  7733.200195

[5200 rows x 4 columns]

## Concat

In [49]:
df_currencies = pd.concat([eurusd, jpyusd, gbpusd], axis=1)
# Keep only the observations after 2004
#df_currencies = df_currencies[df_currencies.index >= '2004-01-01']

In [50]:
df_currencies

              eurusd    jpyusd    gbpusd
Date
2004-01-01  1.258194  0.009320  1.785204
2004-01-02  1.258194  0.009354  1.793690
2004-01-05  1.268698  0.009413  1.807207
2004-01-06  1.272103  0.009414  1.821295
2004-01-07  1.264095  0.009418  1.817785
...              ...       ...       ...
2023-12-25  1.102657  0.007025  1.267700
2023-12-26  1.102026  0.007031  1.270487
2023-12-27  1.104301  0.007019  1.272718
2023-12-28  1.110864  0.007072  1.280082
2023-12-29  1.106819  0.007071  1.273399

[5205 rows x 3 columns]

# Concat

In [51]:
df_stocks = pd.concat([df_currencies, df_indexes], axis=1)

In [52]:
df_stocks

,eurusd,jpyusd,gbpusd,nq,sp500,nikkei,ftse
Date,,,,,,,
2004-01-01,1.258194,0.009320,1.785204,NaN,NaN,NaN,NaN
2004-01-02,1.258194,0.009354,1.793690,1466.50,1108.479980,NaN,4510.200195
2004-01-05,1.268698,0.009413,1.807207,1495.50,1122.219971,10825.169922,4513.299805
2004-01-06,1.272103,0.009414,1.821295,1504.50,1123.670044,10813.990234,4505.200195
2004-01-07,1.264095,0.009418,1.817785,1517.00,1126.329956,10757.820312,4473.000000
...,...,...,...,...,...,...,...
2023-12-25,1.102657,0.007025,1.267700,NaN,NaN,33254.031250,NaN
2023-12-26,1.102026,0.007031,1.270487,17083.50,4774.750000,33305.851562,NaN
2023-12-27,1.104301,0.007019,1.272718,17113.25,4781.580078,33681.238281,7725.000000
2023-12-28,1.110864,0.007072,1.280082,17090.50,4783.350098,33539.621094,7722.700195
2023-12-29,1.106819,0.007071,1.273399,17023.50,4769.830078,33464.171875,7733.200195

# Gen csv

In [9]:
#df_stocks.to_csv('../../data/preparation/currencies.csv')