In [2]:
import pandas as pd

# Lectura de datos

In [3]:
stocks = pd.read_csv('../../data/preparation/currencies_stocks.csv')
macro = pd.read_csv('../../data/preparation/macro_variables.csv')

In [14]:
macro.rename(columns = {'Unnamed: 0':'Date'}, inplace=True)
macro.set_index('Date', inplace=True)

In [15]:
macro = macro[(macro.index >= '2004-01-01') & (macro.index < '2023-01-01')]

In [21]:
stocks.set_index('Date', inplace=True)

In [26]:
macro

,gdp_us,gdp_uk,gdp_jp,gdp_ez,unrate_us,unrate_uk,unrate_jp,unrate_ez,m0_us,m0_jp,m0_ez,ir_us,ir_uk,ir_deposit_ez,ir_lending_ez,ir_MRO_ez,ir_jp
Date,,,,,,,,,,,,,,,,,
2004-01-01,11923.447,322790.0,529365.1,2006218.2,5.7,4.8,5.1,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-02,11923.447,322790.0,529365.1,2006218.2,5.7,4.8,5.1,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-03,11923.447,322790.0,529365.1,2006218.2,5.7,4.8,5.1,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-04,11923.447,322790.0,529365.1,2006218.2,5.7,4.8,5.1,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-05,11923.447,322790.0,529365.1,2006218.2,5.7,4.8,5.1,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-27,26408.405,645805.0,568061.1,3447384.9,3.5,3.8,2.7,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-28,26408.405,645805.0,568061.1,3447384.9,3.5,3.8,2.7,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-29,26408.405,645805.0,568061.1,3447384.9,3.5,3.8,2.7,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-30,26408.405,645805.0,568061.1,3447384.9,3.5,3.8,2.7,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-31,26408.405,645805.0,568061.1,3447384.9,3.5,3.8,2.7,6.7,5406000.0,6293987,6296159.0,4.1,"3,5",2.0,2.75,2.5,0.3

In [22]:
stocks

,eurusd,jpyusd,gbpusd,nq,sp500,nikkei,ftse
Date,,,,,,,
2004-01-01,1.258194,0.009320,1.785204,1468.00,1111.920044,10676.639648,4476.899902
2004-01-02,1.258194,0.009354,1.793690,1466.50,1108.479980,10676.639648,4510.200195
2004-01-05,1.268698,0.009413,1.807207,1495.50,1122.219971,10825.169922,4513.299805
2004-01-06,1.272103,0.009414,1.821295,1504.50,1123.670044,10813.990234,4505.200195
2004-01-07,1.264095,0.009418,1.817785,1517.00,1126.329956,10757.820312,4473.000000
...,...,...,...,...,...,...,...
2022-12-26,1.066780,0.007531,1.206001,11075.25,3844.820068,26405.869141,7473.000000
2022-12-27,1.064022,0.007532,1.208415,10915.50,3829.250000,26447.869141,7473.000000
2022-12-28,1.063717,0.007491,1.202733,10772.75,3783.219971,26340.500000,7497.200195
2022-12-29,1.062925,0.007461,1.202848,11032.75,3849.280029,26093.669922,7512.700195
2022-12-30,1.066075,0.007524,1.205633,11022.25,3839.500000,26094.500000,7451.700195

In [7]:
stocks.isnull().sum()

Date      0
eurusd    0
jpyusd    0
gbpusd    0
nq        0
sp500     0
nikkei    0
ftse      0
dtype: int64

In [28]:
df = pd.concat([stocks, macro], axis=1, join='inner')
#df = df[(df.index >= '2004-01-01') & (df.index < '2023-01-01')]

In [29]:
df

,eurusd,jpyusd,gbpusd,nq,sp500,nikkei,ftse,gdp_us,gdp_uk,gdp_jp,...,unrate_ez,m0_us,m0_jp,m0_ez,ir_us,ir_uk,ir_deposit_ez,ir_lending_ez,ir_MRO_ez,ir_jp
Date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,1.258194,0.009320,1.785204,1468.00,1111.920044,10676.639648,4476.899902,11923.447,322790.0,529365.1,...,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-02,1.258194,0.009354,1.793690,1466.50,1108.479980,10676.639648,4510.200195,11923.447,322790.0,529365.1,...,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-05,1.268698,0.009413,1.807207,1495.50,1122.219971,10825.169922,4513.299805,11923.447,322790.0,529365.1,...,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-06,1.272103,0.009414,1.821295,1504.50,1123.670044,10813.990234,4505.200195,11923.447,322790.0,529365.1,...,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
2004-01-07,1.264095,0.009418,1.817785,1517.00,1126.329956,10757.820312,4473.000000,11923.447,322790.0,529365.1,...,9.4,736400.0,1060327,548711.0,1.0,"3,75",1.0,3.00,2.0,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,1.066780,0.007531,1.206001,11075.25,3844.820068,26405.869141,7473.000000,26408.405,645805.0,568061.1,...,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-27,1.064022,0.007532,1.208415,10915.50,3829.250000,26447.869141,7473.000000,26408.405,645805.0,568061.1,...,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-28,1.063717,0.007491,1.202733,10772.75,3783.219971,26340.500000,7497.200195,26408.405,645805.0,568061.1,...,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-29,1.062925,0.007461,1.202848,11032.75,3849.280029,26093.669922,7512.700195,26408.405,645805.0,568061.1,...,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3
2022-12-30,1.066075,0.007524,1.205633,11022.25,3839.500000,26094.500000,7451.700195,26408.405,645805.0,568061.1,...,6.7,5406000.0,6293987,6385741.0,4.1,"3,5",2.0,2.75,2.5,0.3

In [30]:
df.isna().sum()

eurusd           0
jpyusd           0
gbpusd           0
nq               0
sp500            0
nikkei           0
ftse             0
gdp_us           0
gdp_uk           0
gdp_jp           0
gdp_ez           0
unrate_us        0
unrate_uk        0
unrate_jp        0
unrate_ez        0
m0_us            0
m0_jp            0
m0_ez            0
ir_us            0
ir_uk            0
ir_deposit_ez    0
ir_lending_ez    0
ir_MRO_ez        0
ir_jp            0
dtype: int64

In [32]:
#df.to_csv('../../data/df_joint.csv')