In [2]:
import pandas as pd

# Lectura de datos

In [3]:
cpi = pd.read_csv('cpi.csv')
gdp = pd.read_csv('gdp.csv')
nasdaq = pd.read_csv('nasdaq.csv')
sp500 = pd.read_csv('sp500.csv')
unrate = pd.read_csv('unrate.csv')
usdeur = pd.read_csv('usdeur.csv')
usdgbp = pd.read_csv('usdgbp.csv')

In [4]:
nasdaq = nasdaq[['date', 'close']]
sp500 = sp500[['date', 'close']]
usdeur = usdeur[['date', 'close']]
usdgbp = usdgbp[['date', 'close']]

In [5]:
cpi = cpi.rename(columns={'0':'cpi'})
gdp = gdp.rename(columns={'0':'gdp'})
cpi = cpi.rename(columns={'0':'cpi'})
nasdaq = nasdaq.rename(columns={'close':'nasdaq'})
sp500 = sp500.rename(columns={'close':'sp500'})
unrate = unrate.rename(columns={'0':'unrate'})
usdeur = usdeur.rename(columns={'close':'usdeur'})
usdgbp = usdgbp.rename(columns={'close':'usdgbp'})

In [6]:
variables = [sp500, cpi, nasdaq, gdp, unrate, usdeur, usdgbp]

In [7]:
for i in variables:
    print(i.tail())

            date        sp500
2512  2024-02-09  5026.609863
2513  2024-02-12  5021.839844
2514  2024-02-13  4953.169922
2515  2024-02-14  5000.620117
2516  2024-02-15  5008.899902
            date      cpi
3600  2023-12-28  308.742
3601  2023-12-29  308.742
3602  2023-12-30  308.742
3603  2023-12-31  308.742
3604  2024-01-01  309.685
            date    nasdaq
2512  2024-02-09  18039.25
2513  2024-02-12  17965.00
2514  2024-02-13  17676.75
2515  2024-02-14  17881.00
2516  2024-02-15  17898.00
            date        gdp
3508  2023-09-27  27610.128
3509  2023-09-28  27610.128
3510  2023-09-29  27610.128
3511  2023-09-30  27610.128
3512  2023-10-01  27938.831
            date  unrate
3600  2023-12-28     3.7
3601  2023-12-29     3.7
3602  2023-12-30     3.7
3603  2023-12-31     3.7
3604  2024-01-01     3.7
                           date   usdeur
2601  2024-02-09 00:00:00+00:00  0.92788
2602  2024-02-12 00:00:00+00:00  0.92608
2603  2024-02-13 00:00:00+00:00  0.92831
2604  2024-02-14 00:00:00+00:00  0.93380
2605  2024-02-15 00:00:00+00:00  0.92860
                           date   usdgbp
2601  2024-02-09 00:00:00+00:00  0.79236
2602  2024-02-12 00:00:00+00:00  0.79131
2603  2024-02-13 00:00:00+00:00  0.79192
2604  2024-02-14 00:00:00+00:00  0.79424
2605  2024-02-15 00:00:00+00:00  0.79469

# Convierto todas columnas 'date' a formato datetime64 y mergeo

In [11]:
df = None
for datasets in variables:
    # Asegúrate de que la columna 'date' esté en formato de fecha
    datasets['date'] = pd.to_datetime(datasets['date'], utc = True)
    
    # Realiza un merge
    if df is None:
        df = datasets
    else:
        df = pd.merge(df, datasets, on='date', how='left')

In [16]:
prueba = pd.merge(sp500, usdeur, on='date', how='inner')

In [18]:
df['usdeur'] = usdeur['usdeur']
df['usdgbp'] = usdgbp['usdgbp']

In [19]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [22]:
df_no24 = df[df['date']<'2024-01-02']

In [23]:
df_no24['gdp'].fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)

C:\Users\usuario\AppData\Local\Temp\ipykernel_28416\2430749609.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_no24['gdp'].fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)
C:\Users\usuario\AppData\Local\Temp\ipykernel_28416\2430749609.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_no24['gdp'].fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)
C:\Users\usuario\AppData\Local\Temp\ipykernel_28416\2430749609.py:1: FutureWarning: The 'downcast' keyword in fillna is deprecated and will be removed in a future version. Use res.infer_objects(copy=False) to infer non-object dtype, or pd.to_numeric with the 'downcast' keyword to downcast numeric results.
  df_no24['gdp'].fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)
C:\Users\usuario\AppData\Local\Temp\ipykernel_28416\2430749609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no24['gdp'].fillna(method='ffill', inplace=True, limit=None, axis=None, downcast=None)