In [3]:
import pandas as pd

# Lectura de datos

In [107]:
cpi = pd.read_csv('cpi.csv')
gdp = pd.read_csv('gdp.csv')
nasdaq = pd.read_csv('nasdaq.csv')
sp500 = pd.read_csv('sp500.csv')
unrate = pd.read_csv('unrate.csv')
usdeur = pd.read_csv('usdeur.csv')
usdgbp = pd.read_csv('usdgbp.csv')

In [108]:
nasdaq = nasdaq[['date', 'close']]
sp500 = sp500[['date', 'close']]
usdeur = usdeur[['date', 'close']]
usdgbp = usdgbp[['date', 'close']]

In [109]:
cpi = cpi.rename(columns={'0':'cpi'})
gdp = gdp.rename(columns={'0':'gdp'})
cpi = cpi.rename(columns={'0':'cpi'})
nasdaq = nasdaq.rename(columns={'close':'nasdaq'})
sp500 = sp500.rename(columns={'close':'sp500'})
unrate = unrate.rename(columns={'0':'unrate'})
usdeur = usdeur.rename(columns={'close':'usdeur'})
usdgbp = usdgbp.rename(columns={'close':'usdgbp'})

In [78]:
variables = [cpi, gdp, nasdaq, sp500, unrate, usdeur, usdgbp]

In [104]:
usdeur['date'] = pd.to_datetime(usdeur['date'], utc=True)

# Convierto todas columnas 'date' a formato datetime64

In [105]:
df = None
for datasets in variables:
    # Asegúrate de que la columna 'date' esté en formato de fecha
    datasets['date'] = pd.to_datetime(datasets['date'], utc =True)
    
    # Realiza un merge
    if df is None:
        df = datasets
    else:
        df = pd.merge(df, datasets, on='date', how='inner')

In [106]:
df

,date,cpi,gdp,nasdaq,sp500,unrate,usdeur,usdgbp
0,2014-02-18 00:00:00+00:00,235.547,17197.738,3675.00,1840.760010,6.7,0.72969,0.59809
1,2014-02-19 00:00:00+00:00,235.547,17197.738,3654.50,1828.750000,6.7,0.72664,0.59930
2,2014-02-20 00:00:00+00:00,235.547,17197.738,3671.50,1839.780029,6.7,0.72831,0.59967
3,2014-02-21 00:00:00+00:00,235.547,17197.738,3664.50,1836.250000,6.7,0.72880,0.60018
4,2014-02-24 00:00:00+00:00,235.547,17197.738,3688.00,1847.609985,6.7,0.72791,0.60120
...,...,...,...,...,...,...,...,...
946,2023-03-20 00:00:00+00:00,301.744,26813.601,12688.50,3951.570068,3.5,0.93643,0.82050
947,2023-03-21 00:00:00+00:00,301.744,26813.601,12867.25,4002.870117,3.5,0.93291,0.81458
948,2023-03-22 00:00:00+00:00,301.744,26813.601,12707.00,3936.969971,3.5,0.92814,0.81799
949,2023-03-23 00:00:00+00:00,301.744,26813.601,12854.00,3948.719971,3.5,0.91993,0.81435
950,2023-03-24 00:00:00+00:00,301.744,26813.601,12890.25,3970.989990,3.5,0.92293,0.81423