In [15]:
import pandas as pd
df = pd.read_csv('../../data/df_clean.csv', index_col='date', parse_dates=True)

In [18]:
df.head()

,eurusd,jpyusd,gbpusd,nq,sp500,nikkei,ftse,gdp_us,gdp_uk,gdp_jp,...,unrate_uk,unrate_jp,unrate_ez,m0_us,m0_jp,m0_ez,ir_us,ir_uk,ir_ez,ir_jp
date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,1.258194,0.009320,1.785204,1468.0,1111.920044,10676.639648,4476.899902,11923447.0,322790.0,529365100.0,...,4.8,5.1,9.4,736400000.0,1.060327e+09,548711.0,1.0,3.75,2.0,0.1
2004-01-02,1.258194,0.009354,1.793690,1466.5,1108.479980,10676.639648,4510.200195,11923447.0,322790.0,529365100.0,...,4.8,5.1,9.4,736400000.0,1.060327e+09,548711.0,1.0,3.75,2.0,0.1
2004-01-05,1.268698,0.009413,1.807207,1495.5,1122.219971,10825.169922,4513.299805,11923447.0,322790.0,529365100.0,...,4.8,5.1,9.4,736400000.0,1.060327e+09,548711.0,1.0,3.75,2.0,0.1
2004-01-06,1.272103,0.009414,1.821295,1504.5,1123.670044,10813.990234,4505.200195,11923447.0,322790.0,529365100.0,...,4.8,5.1,9.4,736400000.0,1.060327e+09,548711.0,1.0,3.75,2.0,0.1
2004-01-07,1.264095,0.009418,1.817785,1517.0,1126.329956,10757.820312,4473.000000,11923447.0,322790.0,529365100.0,...,4.8,5.1,9.4,736400000.0,1.060327e+09,548711.0,1.0,3.75,2.0,0.1

In [19]:
# Calcular la variación (proporción) para cada tipo de cambio
df['eurusd_pct_change'] = df['eurusd'].pct_change()
df['jpyusd_pct_change'] = df['jpyusd'].pct_change()
df['gbpusd_pct_change'] = df['gbpusd'].pct_change()

# Crear las etiquetas de si sube o baja en inglés
df['eurusd_trend'] = df['eurusd_pct_change'].apply(lambda x: 1 if x > 0 else 0)
df['jpyusd_trend'] = df['jpyusd_pct_change'].apply(lambda x: 1 if x > 0 else 0)
df['gbpusd_trend'] = df['gbpusd_pct_change'].apply(lambda x: 1 if x > 0 else 0)

# Mostrar las primeras filas del DataFrame modificado para verificar los cambios
df.head()

,eurusd,jpyusd,gbpusd,nq,sp500,nikkei,ftse,gdp_us,gdp_uk,gdp_jp,...,ir_us,ir_uk,ir_ez,ir_jp,eurusd_pct_change,jpyusd_pct_change,gbpusd_pct_change,eurusd_trend,jpyusd_trend,gbpusd_trend
date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,1.258194,0.009320,1.785204,1468.0,1111.920044,10676.639648,4476.899902,11923447.0,322790.0,529365100.0,...,1.0,3.75,2.0,0.1,NaN,NaN,NaN,0,0,0
2004-01-02,1.258194,0.009354,1.793690,1466.5,1108.479980,10676.639648,4510.200195,11923447.0,322790.0,529365100.0,...,1.0,3.75,2.0,0.1,0.000000,0.003648,0.004753,0,1,1
2004-01-05,1.268698,0.009413,1.807207,1495.5,1122.219971,10825.169922,4513.299805,11923447.0,322790.0,529365100.0,...,1.0,3.75,2.0,0.1,0.008348,0.006307,0.007536,1,1,1
2004-01-06,1.272103,0.009414,1.821295,1504.5,1123.670044,10813.990234,4505.200195,11923447.0,322790.0,529365100.0,...,1.0,3.75,2.0,0.1,0.002684,0.000094,0.007795,1,1,1
2004-01-07,1.264095,0.009418,1.817785,1517.0,1126.329956,10757.820312,4473.000000,11923447.0,322790.0,529365100.0,...,1.0,3.75,2.0,0.1,-0.006295,0.000471,-0.001927,0,1,0

In [25]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

# Supongamos que df es tu DataFrame y tiene un índice de tipo datetime
# Obtener la fecha del primer día en el DataFrame
first_date = df.index[0]    

# Descargar los precios de cierre del día anterior para EUR/USD, JPY/USD y GBP/USD
tickers = ['EURUSD=X', 'JPYUSD=X', 'GBPUSD=X']
previous_date = first_date - timedelta(days=1)

# Descargar los datos usando yfinance
data = yf.download(tickers, start=previous_date.strftime('%Y-%m-%d'), end=first_date.strftime('%Y-%m-%d'))

# Obtener el precio de cierre del día anterior
previous_close = data['Adj Close'].iloc[0]

# Calcular la variación porcentual para cada tipo de cambio
df['eurusd_pct_change'] = df['eurusd'].pct_change()
df['jpyusd_pct_change'] = df['jpyusd'].pct_change()
df['gbpusd_pct_change'] = df['gbpusd'].pct_change()

# Rellenar la variación porcentual para la primera observación
df.loc[df.index[0], 'eurusd_pct_change'] = (df.loc[df.index[0], 'eurusd'] - previous_close['EURUSD=X']) / previous_close['EURUSD=X']
df.loc[df.index[0], 'jpyusd_pct_change'] = (df.loc[df.index[0], 'jpyusd'] - previous_close['JPYUSD=X']) / previous_close['JPYUSD=X']
df.loc[df.index[0], 'gbpusd_pct_change'] = (df.loc[df.index[0], 'gbpusd'] - previous_close['GBPUSD=X']) / previous_close['GBPUSD=X']

# Crear las etiquetas de tendencia en inglés
df['eurusd_trend'] = df['eurusd_pct_change'].apply(lambda x: 1 if x > 0 else 0)
df['jpyusd_trend'] = df['jpyusd_pct_change'].apply(lambda x: 1 if x > 0 else 0)
df['gbpusd_trend'] = df['gbpusd_pct_change'].apply(lambda x: 1 if x > 0 else 0)

print(df.head())

[*********************100%%**********************]  3 of 3 completed

              eurusd    jpyusd    gbpusd      nq        sp500        nikkei  \
date
2004-01-01  1.258194  0.009320  1.785204  1468.0  1111.920044  10676.639648
2004-01-02  1.258194  0.009354  1.793690  1466.5  1108.479980  10676.639648
2004-01-05  1.268698  0.009413  1.807207  1495.5  1122.219971  10825.169922
2004-01-06  1.272103  0.009414  1.821295  1504.5  1123.670044  10813.990234
2004-01-07  1.264095  0.009418  1.817785  1517.0  1126.329956  10757.820312

                   ftse      gdp_us    gdp_uk       gdp_jp  ...  ir_us  ir_uk  \
date                                                        ...
2004-01-01  4476.899902  11923447.0  322790.0  529365100.0  ...    1.0   3.75
2004-01-02  4510.200195  11923447.0  322790.0  529365100.0  ...    1.0   3.75
2004-01-05  4513.299805  11923447.0  322790.0  529365100.0  ...    1.0   3.75
2004-01-06  4505.200195  11923447.0  322790.0  529365100.0  ...    1.0   3.75
2004-01-07  4473.000000  11923447.0  322790.0  529365100.0  ...    1.0   3.75

            ir_ez  ir_jp  eurusd_pct_change  jpyusd_pct_change  \
date
2004-01-01    2.0    0.1          -0.000642           0.000932
2004-01-02    2.0    0.1           0.000000           0.003648
2004-01-05    2.0    0.1           0.008348           0.006307
2004-01-06    2.0    0.1           0.002684           0.000094
2004-01-07    2.0    0.1          -0.006295           0.000471

            gbpusd_pct_change  eurusd_trend  jpyusd_trend  gbpusd_trend
date
2004-01-01          -0.002017             0             1             0
2004-01-02           0.004753             0             1             1
2004-01-05           0.007536             1             1             1
2004-01-06           0.007795             1             1             1
2004-01-07          -0.001927             0             1             0

[5 rows x 28 columns]

In [26]:
df['dayofweek'] = df.index.day_of_week
df['quarter'] = df.index.quarter
df['month'] = df.index.month
df['year'] = df.index.year
df['dayofyear'] = df.index.day_of_year

In [27]:
df

,eurusd,jpyusd,gbpusd,nq,sp500,nikkei,ftse,gdp_us,gdp_uk,gdp_jp,...,jpyusd_pct_change,gbpusd_pct_change,eurusd_trend,jpyusd_trend,gbpusd_trend,dayofweek,quarter,month,year,dayofyear
date,,,,,,,,,,,,,,,,,,,,,
2004-01-01,1.258194,0.009320,1.785204,1468.00,1111.920044,10676.639648,4476.899902,11923447.0,322790.0,529365100.0,...,0.000932,-0.002017,0,1,0,3,1,1,2004,1
2004-01-02,1.258194,0.009354,1.793690,1466.50,1108.479980,10676.639648,4510.200195,11923447.0,322790.0,529365100.0,...,0.003648,0.004753,0,1,1,4,1,1,2004,2
2004-01-05,1.268698,0.009413,1.807207,1495.50,1122.219971,10825.169922,4513.299805,11923447.0,322790.0,529365100.0,...,0.006307,0.007536,1,1,1,0,1,1,2004,5
2004-01-06,1.272103,0.009414,1.821295,1504.50,1123.670044,10813.990234,4505.200195,11923447.0,322790.0,529365100.0,...,0.000094,0.007795,1,1,1,1,1,1,2004,6
2004-01-07,1.264095,0.009418,1.817785,1517.00,1126.329956,10757.820312,4473.000000,11923447.0,322790.0,529365100.0,...,0.000471,-0.001927,0,1,0,2,1,1,2004,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,1.066780,0.007531,1.206001,11075.25,3844.820068,26405.869141,7473.000000,26408405.0,645805.0,568061100.0,...,-0.003261,0.001668,1,0,1,0,4,12,2022,360
2022-12-27,1.064022,0.007532,1.208415,10915.50,3829.250000,26447.869141,7473.000000,26408405.0,645805.0,568061100.0,...,0.000196,0.002002,0,1,1,1,4,12,2022,361
2022-12-28,1.063717,0.007491,1.202733,10772.75,3783.219971,26340.500000,7497.200195,26408405.0,645805.0,568061100.0,...,-0.005409,-0.004703,0,0,0,2,4,12,2022,362
2022-12-29,1.062925,0.007461,1.202848,11032.75,3849.280029,26093.669922,7512.700195,26408405.0,645805.0,568061100.0,...,-0.004089,0.000096,0,0,1,3,4,12,2022,363
2022-12-30,1.066075,0.007524,1.205633,11022.25,3839.500000,26094.500000,7451.700195,26408405.0,645805.0,568061100.0,...,0.008411,0.002315,1,1,1,4,4,12,2022,364

In [32]:
df.to_csv('../../data/df_final.csv', index=False)